@model Confirm2FALoginVM;

@{
    ViewData["Title"] = "Verify your account";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h4 class="form-header">Two-factor Authentication</h4>

        <div class="row">
            <div class="col-md-8 offset-md-2">

                <form asp-controller="Authentication"
                      asp-action="TwoFactorConfirmationVerified">

                    <div asp-validation-summary="All" class="text-danger"></div>
                      
                    <input asp-for="UserId" hidden />

                    <div class="form-group mb-3">
                        <label for="twoFactorAuth">Verification code</label>
                        <input type="text" asp-for="UserConfirmationCode" class="form-control" id="twoFactorAuth" placeholder="Enter email" />
                        <small id="twoFactorAuthSm" class="form-text text-muted">Don't share this code with anyone.</small> <br />
                    </div>

                    <button type="submit" class="btn btn-outline-success mt-2 btn-login">
                        Confirm code
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>