
@{
    ViewData["Title"] = "All users";
}

<div class="container">
    <div class="row row-cols-1 row-cols-md-1 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">user@email.com</h5>
                    <p class="card-text">This user has created 1 link(s) and has a total of 2 click(s).</p>

                    <p class="d-inline-flex gap-1">
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                            Show details
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample1">
                        <div class="card card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Original link</th>
                                        <th>Short link</th>
                                        <th>Number of clicks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>https://original.com</td>
                                        <td>shrt</td>
                                        <td>3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <small class="text-muted">1 link(s), and 2 click(s)</small>
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">user@email.com</h5>
                    <p class="card-text">This user has created 1 link(s) and has a total of 2 click(s).</p>

                    <p class="d-inline-flex gap-1">
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                            Show details
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample2">
                        <div class="card card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Original link</th>
                                        <th>Short link</th>
                                        <th>Number of clicks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>https://original.com</td>
                                        <td>shrt</td>
                                        <td>3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <small class="text-muted">1 link(s), and 2 click(s)</small>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">user@email.com</h5>
                    <p class="card-text">This user has created 1 link(s) and has a total of 2 click(s).</p>

                    <p class="d-inline-flex gap-1">
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                            Show details
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample3">
                        <div class="card card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Original link</th>
                                        <th>Short link</th>
                                        <th>Number of clicks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>https://original.com</td>
                                        <td>shrt</td>
                                        <td>3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <small class="text-muted">1 link(s), and 2 click(s)</small>
                </div>
            </div>
        </div>
    </div>
</div>