@{
    ViewData["Title"] = "Welcome";
}

<section class="landing py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <img src="~/img/welcome-img.png" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8">
                <h1 class="display-4">More than just shorter links</h1>
                <p class="lead">
                    Build your brand’s recognition and get detailed insights on how your links are performing.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="features" id="features">
    <div class="container">
        <div class="url-shorten-feature">
            <form class="url-shorten-form" id="url-shorten-form">
                <div>
                    <input type="text" class="url-input" name="urlToShorten" placeholder="Shorten a link here..." autocomplete="off" />
                    <span class="alert"></span>
                </div>
                <button type="submit" class="btn btn-lg" style="">Shorten It!</button>
            </form>
            <div class="url-shorten-results"></div>
        </div>
    </div>
</section>